{% extends "base.html" %}
{% block title %}
Digital Scribe - Delete Account
{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='custom-form.css') }}">
{% endblock %}
{% block body %}
	{{ super() }}
	<div class="custom-form">
		<form action="{{ url_for('account_delete') }}" method="POST">
			<h2 class="text-center">Delete Account</h2>
			<div class="form-group">
				<input type="password" name="password" class="form-control" id="input-password" placeholder="Password" required="required">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</div>
			{% if error %}
			<div class="alert alert-danger" role="alert">
			  {{ error }}
			</div>
			{% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		</form>
	</div>
    <script src="{{ url_for('static', filename='account-delete.js') }}"></script>
{% endblock %}