{% extends "base.html" %}
{% block title %}
Digital Scribe - Change Password
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='password-change.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="custom-form">
        <form action="{{ url_for('account_password_change') }}" method="POST">
            <h2 class="text-center">Change Password</h2>
            <div class="form-group">
                <input type="hidden" name="email" class="form-control" id="input-email" placeholder="{{ current_user.get_id() }}" disabled>
            </div>
            <div class="form-group">
                <input type="password" name="old-password" class="form-control" id="input-old-password" placeholder="Old Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" name="new-password" class="form-control" id="input-password" placeholder="New Password" required="required">
                <div class="progress" id="password-strength-div">
                    <div class="progress-bar" id ="password-strength-meter" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="input-password-confirm" placeholder="Confirm New Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <script src="{{ url_for('static', filename='password.js') }}"></script>
    <script src="{{ url_for('static', filename='account-password-change.js') }}"></script>
{% endblock %}
