{% extends "base.html" %}
{% block title %}
Digital Scribe - Account
{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block body %}
	{{ super() }}
	<main role="main" class="container">
		<br><br>
		<div class="row mb-2">
			<div class="col-md-6 offset-md-1">
				<h6><a href="{{ url_for('account_password_change') }}" class="text-decoration-none"><i class="fas fa-key fa-fw"></i> Change Password</a></h6>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-md-6 offset-md-1">
				<h6><a href="{{ url_for('account_delete') }}" class="text-decoration-none"><i class="fas fa-user-alt-slash fa-fw"></i> Delete Account</a></h6>
			</div>
		</div>
	</main>
{% endblock %}