<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% if current_user.is_active %}
        <a class="navbar-brand" href="{{ url_for('notes', page=1) }}">
        {% else %}
        <a class="navbar-brand" href="{{ url_for('home') }}">
        {% endif %}
            <img src="{{ url_for('static', filename='icon-gray.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            <span id="logo-name">Digital Scribe</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_active %}
                <li id="nav-notes" class="nav-item">
                    <a class="nav-link" href="{{ url_for('notes', page=1) }}"><i class="fas fa-sticky-note fa-fw"></i> Notes</a>
                </li>
                <li id="nav-help" class="nav-item">
                    <a class="nav-link" href="{{ url_for('help') }}"><i class="fas fa-question fa-fw"></i> Help</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if current_user.is_active %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-alt fa-fw"></i> {{ current_user.email }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledBy="account-dropdown">
                        <a class="dropdown-item" href="{{ url_for('account') }}"><i class="fas fa-user-cog fa-fw"></i> Account</a>
                        <a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                    </div>
                </li>
                {% else %}
                <li id="nav-room" class="nav-item">
                    <a class="nav-link" href="{{ url_for('waiting_room') }}"><i class="fas fa-person-booth fa-fw"></i> Room</a>
                </li>
                <li id="nav-login" class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt fa-fw"></i> Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}
</body>
</html>
