{% extends "base.html" %}
{% block title %}
Digital Scribe
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <main role="main" class="container">
        <br><br>
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <form method="POST">
                    <div class="form-group">
                        <label for="message">Feedback</label>
                        <textarea class="form-control" id="message" name="message" rows="7" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
            </div>
        </div>
        <br><br>
    </main>
{% endblock %}
