{% extends "base.html" %}
{% block title %}
Digital Scribe - Help
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='help.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <main id="main" role="main" class="container">
        <br><br>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLbeU4Akvy37Em9ohaiKe6VfrtDPrBcUST" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br><br><br>
    </main>
    <script src="{{ url_for('static', filename='help.js') }}"></script>
{% endblock %}