{% extends "base.html" %}
{% block title %}
Digital Scribe
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <main role="main" class="container">
        <div class="starter-template">
            <h1>Digital Scribe</h1>
            <p class="lead">More patients. Less notes.</p>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLbeU4Akvy37Em9ohaiKe6VfrtDPrBcUST" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br><br><br>
    </main>
{% endblock %}
