{% extends "base.html" %}
{% block title %}
Digital Scribe - Login
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-form.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="custom-form">
        <form action="{{ url_for('login') }}" method="POST">
            <h2 class="text-center">Login</h2>
            <div class="form-group">
                <input id="email" type="email" name="email" class="form-control" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            {% endif %}
            <div class="form-check">
                <input type="checkbox" name="remember-me" class="form-check-input">
                <label class="form-check-label" for="input-remember-me">Remember Me</label>
                <a href="{{ url_for('password_forgot') }}" class="float-right">Forgot Password</a>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
        <!-- <p class="text-center"><a href="{{ url_for('account_create') }}">Create Account</a></p> -->
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}
