{% extends "base.html" %}
{% block title %}
Digital Scribe - {{ text_title }}
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='message.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="alert {{ text_type }} text-center" role="alert">
                    {{ text }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
