{% extends "base.html" %}
{% block title %}
Digital Scribe - Notes
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='notes.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <main id="main" role="main" class="container">
        <br><br>
        <div class="row">
            <div class="col-md-6 offset-md-1">
                <a role="button" class="btn btn-primary" href="{{ url_for('record') }}">
                    <i class="fas fa-plus fa-fw"></i> Create
                </a>
                <button id="btn-trash-global" type="button" class="btn btn-link" hidden><i class="fas fa-trash fa-fw"></i></button>
            </div>
        </div>
        <br>
        <div class="row" id="row-notes">
            {% if notes|length > 0 %}
            <div class="col-md-7 offset-md-1">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div class="custom-control custom-checkbox">
                                        <input id="global-checkbox" class="form-check-input" type="checkbox" value="">
                                    </div>
                                </th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in notes %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input id="{{ note['_id'] }}-checkbox" class="form-check-input note-checkbox" type="checkbox" value="" data-index="{{ note['index'] }}">
                                    </div>
                                </td>
                                <td id="{{ note['_id'] }}-date-local" class="align-middle clickable-row-part"></td>
                                <td id="{{ note['_id'] }}-time-local" class="align-middle clickable-row-part"></td>
                                <td id="{{ note['_id'] }}-name" class="align-middle clickable-row-part">{{ note['name'] }}</td>
                                <td id="{{ note['_id'] }}-fill" class="align-middle clickable-row-part"><i id="{{ note['_id'] }}-status-icon" class="status-icon fas fa-fw" data-status="{{ note['status'] }}"></i></td>
                                <td class="align-middle">
                                    <a id="{{ note['_id'] }}-link-trash" class="link-trash text-decoration-none" href="#"><i class="fas fa-trash fa-fw"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if has_prev_link or has_next_link %}
                <nav>
                    <ul class="pagination">
                        {% if has_prev_link %}
                        <li class="page-item">
                            <a class="page-link" href="{{ prev_link.url }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for link in page_links %}
                        <li class="page-item {{ link.active }}">
                            <a class="page-link" href="{{ link.url }}">{{ link.page }}</a>
                        </li>
                        {% endfor %}
                        {% if has_next_link %}
                        <li class="page-item">
                            <a class="page-link" href="{{ next_link.url }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <br><br>
                {% else %}
                <br><br>
                {% endif %}
            </div>
            {% else %}
            <div class="col-md-6 offset-md-1">
                <h4>No Notes</h4>
            </div>
            {% endif %}
        </div>
    </main>
    <meta id="csrf_token" content="{{ csrf_token() }}">
    <meta id="trash-url" content="{{ url_for('trash') }}">
    <meta id="refresh-notes-url" content="{{ url_for('refresh_notes') }}">
    {% for note in notes %}
    <meta id="{{ note['_id'] }}-datetime-utc" class='datetime-utc' content="{{ note['datetime'] }}">
    <meta id="{{ note['_id'] }}-click-url" class="click-url" content="{{ url_for('view', note_id=note['_id']) }}">
    {% endfor %}
    <script src="{{ url_for('static', filename='notes.js') }}"></script>
{% endblock %}
