{% extends "base.html" %}
{% block title %}
Digital Scribe - Forgot Password
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-form.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="custom-form">
        <form action="{{ url_for('password_forgot') }}" method="POST">
            <h2 class="text-center">Forgot Password</h2>
            <div class="form-group">
                <input id="email" type="email" name="email" class="form-control" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
    <script src="{{ url_for('static', filename='password-forgot.js') }}"></script>
{% endblock %}