{% extends "base.html" %}
{% block title %}
Digital Scribe - Record
{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='record.css') }}">
{% endblock %}
{% block body %}
	{{ super() }}
	<main class="container">
		<br><br>
		<div class="row mb-2">
			<div class="col-md-3 offset-md-1">
				<h5>Session Name</h5>
				<input type="text" class="form-control" id="input-name">
			</div>
		</div>
		<br>
		<div class="row mb-2">
			<div class="col-md-3 offset-md-1">
				<span>
					<h5 id="voice-chat-header">Voice Chat</h5>
					<div class="spinner-grow spinner-grow-sm text-danger" role="status" id="calling-icon"></div>
				</span>
				<div class="input-group">
					<input type="text" class="form-control" id="input-call" enabled>
					<div class="input-group-append">
						<button class="btn btn-success" type="button" id="btn-call"><i class="fas fa-phone fa-fw"></i></button>
					</div>
				</div>
				<audio id="call-player" src=""></audio>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 offset-md-1">
				<audio controls id="player-local" src=""></audio>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 offset-md-1">
				<audio controls id="player-remote" src=""></audio>
			</div>
		</div>
		<br>
		<div class="row mb-2">
			<div class="col-md-7 offset-md-1">
				<h5>Audio</h5>
				<button type="button" class="btn btn-danger" id="btn-record"><i class="fas fa-circle fa-fw" id="btn-record-icon"></i></button>
				<button type="button" class="btn btn-warning" id="btn-audio-file"><i class="fas fa-paperclip fa-fw"></i></button>
				<button type="button" class="btn btn-light" id="btn-trash-audio" disabled><i class="fas fa-trash fa-fw"></i></button>
				<input type="file" class="custom-file-input" id="input-audio-file" accept="audio/wav" hidden>
				<div class="spinner-grow spinner-grow-sm text-danger" role="status" id="recording-icon"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 offset-md-1">
				<audio controls id="player" src=""></audio>
			</div>
		</div>
		<br>
		<div class="row mb-2">
			<div class="col-md-4 offset-md-1">
				<h5>Case Template</h5>
				<button type="button" class="btn btn-warning" id="btn-case-file"><i class="fas fa-paperclip fa-fw"></i></button>
				<button type="button" class="btn btn-light" id="btn-trash-case" disabled><i class="fas fa-trash fa-fw"></i></button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 offset-md-1">
				<div class="input-group">
					<input type="text" class="form-control" id="show-case-file" disabled>
					<input type="file" class="custom-file-input" id="input-case-file" accept=".json" hidden>
				</div>
			</div>
		</div>
		<br>
		<div class="row mb-2">
			<div class="col-md-3 offset-md-1">
				<h5>Patient Pronoun</h5>
				<select class="custom-select" id="pronoun">
					<option selected value="1">he</option>
					<option value="2">she</option>
				</select>
			</div>
		</div>
		<br>
		<div class="row mb-2">
			<div class="col-md-3 offset-md-1">
				<h5>Number of People</h5>
				<select class="custom-select" id="people">
					<option value="1" selected>1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-8 offset-md-1">
				<button type="button" class="btn btn-primary" disabled id="btn-submit"><i class="fas fa-upload"></i> Submit</button>
				<div class="spinner-border text-primary spinner-border-sm" role="status" id="submit-icon"></div>
			</div>
		</div>
		<br><br>
		<meta id="audio-url" content="{{ url_for('audio') }}">
		<meta id="notes-url" content="{{ url_for('notes', page=1) }}">
        <meta id="csrf_token" content="{{ csrf_token() }}">
	</main>
	<script src="https://unpkg.com/peerjs@1.3.0/dist/peerjs.min.js"></script>
	<script src="{{ url_for('static', filename='recorder.js') }}"></script>
	<script src="{{ url_for('static', filename='record.js') }}"></script>
{% endblock %}
