{% extends "base.html" %}
{% block title %}
Digital Scribe - Uh Oh
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='message.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="alert alert-danger text-center" role="alert">
                    Uh oh! Something went wrong.
                </div>
            </div>
        </div>
    </main>
{% endblock %}
