{% extends "base.html" %}
{% block title %}
Digital Scribe - {{ name }}
{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
{% endblock %}
{% block body %}
    {{ super() }}
	<main id="main" role="main" class="container">
		<br><br>
		<div class="row">
			<div class="col-md-3 offset-md-1">
				<h5>{{ name }}</h5>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6 offset-md-1">
				<div class="btn-group">
					<button class="btn btn-light dropdown-toggle" type="button" id="btn-section" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-puzzle-piece fa-fw"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="btn-section">
						<button class="dropdown-item section-item" type="button" id="btn-sub"><i class="fas fa-file-medical fa-fw"></i> Subjective</button>
						<button class="dropdown-item section-item" type="button" id="btn-obj"><i class="fas fa-file-medical-alt fa-fw"></i> Objective</button>
						<button class="dropdown-item section-item" type="button" id="btn-anp"><i class="fas fa-star-of-life fa-fw"></i> Assessment & Plan</button>
					</div>
				</div>
				<button id="btn-save" type="button" class="btn btn-light"><i id="icon-save" class="fas fa-save fa-fw"></i></button>
				<button id="btn-dictate" type="button" class="btn btn-light"><i class="fas fa-microphone fa-fw"></i></button>
				<div class="spinner-grow spinner-grow-sm text-danger" role="status" id="recording-icon"></div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-8 offset-md-1">
				<div class="form-group">
					<textarea class="form-control editor" id="editor-sub" rows="20">{{ markup_sub }}</textarea>
					<textarea class="form-control editor" id="editor-obj" rows="20">{{ markup_obj }}</textarea>
					<textarea class="form-control editor" id="editor-anp" rows="20">{{ markup_anp }}</textarea>
				</div>
			</div>
		</div>
		<br>
		<div class="row mb-3">
			<div class="col-md-6 offset-md-1">
				<audio controls id="player" src="{{ url_for('playback', note_id=note_id) }}"></audio>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-3 offset-md-1">
				<button type="button" class="btn btn-primary" id="btn-lock"><i class="fas fa-lock fa-fw"></i> Lock</button>
				<button type="button" class="btn btn-primary" id="btn-data"><i class="fas fa-download fa-fw"></i> Data</button>
			</div>
		</div>
		<br><br>
	</main>
	<meta id="note-id" content="{{ note_id }}">
	<meta id="csrf_token" content="{{ csrf_token() }}">
	<meta id="save-url" content="{{ url_for('save') }}">
	<meta id="stopwatch-url" content="{{ url_for('stopwatch') }}">
	<meta id="dictation-url" content="{{ url_for('dictation') }}">
	<meta id="editable" content="{{ editable }}">
	<meta id="lock-url" content="{{ url_for('lock') }}">
	<meta id="data-url" content="{{ url_for('note_data', note_id=note_id) }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
	<script src="{{ url_for('static', filename='RadialMenu.js') }}"></script>
	<script src="{{ url_for('static', filename='autocorrect-radial-menu.js') }}"></script>
	<script src="{{ url_for('static', filename='autocorrect.js') }}"></script>
	<script src="{{ url_for('static', filename='view2.js') }}"></script>
{% endblock %}