{% extends "base.html" %}
{% block title %}
Digital Scribe - Voice Call
{% endblock %}
{% block head %}
	{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='waiting-room.css') }}">
{% endblock %}
{% block body %}
	{{ super() }}
	<div class="container">
		<br><br>
		<div class="row">
			<div class="col-md-8 offset-md-1">
				<h5 id="peer-id">Fetching ID...</h5>
				<p id="message"></p>
				<audio id="player" src=""></audio>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/peerjs@1.3.0/dist/peerjs.min.js"></script>
	<script src="{{ url_for('static', filename='waiting-room.js') }}"></script>
{% endblock %}