.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: -1px; 
    left: -1px;
    right -1px;
    bottom: -1px;
    width: calc(100% + 3px); 
    height: calc(100% + 3px);
}