#recording-icon {
	visibility: hidden;
}

#submit-icon {
	visibility: hidden;
}

#recording-note {
	color: #721C24;
}

#voice-chat-header {
	display: inline-block;
}

#calling-icon {
	margin-bottom: 2px;
	visibility: hidden;
}